

/*aqui coloco el fondo negro, semitranspatente y distorsion del header*/
.desplegable{
    background-color: #012030;
    backdrop-filter: blur(2px);
}



/*aqui establesco que cuando la pagina este en pantalla completa no aparescan las barras*/
.barras{
    display: none;

}

/*aqui indico que el texto del header estara en lateral*/
.nav_lateral{
    display: flex;
    flex-direction: row;

}

/*aqui quito el estilo por defecto del texto*/
.estilo_lista{
    list-style: none;


}


/*aqui coloco el color blanco de la letra y su tamaño*/
.estilo_bloque{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
}

/*aqui coloco el hover al pasar sonbre el texto*/
.hover:hover{
    background: darkred;
}

/*aqui coloco que el texto se coloque en el extremo izquierdo y que tenga un margen vertical*/
.padding_lateral{
    padding: 20px;
    display: block;
    text-align: center;
}
.logo_barra{
    align-self: center;
    margin-right: 13px;
}


/*especificaciones en tablet*/

@media(max-width: 850px){

    .margen_boton{
        margin: 0;
        border: none;
    }

    .textobajar{
        font-size: 10px;
    }


}



